.DS_Store
.env
*.pyc
*.pyo
instance/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
*.log*
*.pid
mock/
restart.sh

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover
