body {
    background-color: #3a3a4fff;
    box-sizing: border-box;
}

#header {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.jumbotron {
    padding: 1.5%;
    display: none;
}

.card {
    width: 60%;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
}

#radioContainer {
    display: flex;
    flex-wrap: wrap; /* Optional. only if you want the items to wrap */
    justify-content: center; /* For horizontal alignment */
    align-items: center; /* For vertical alignment */
}

.left-label {
    margin-right: 5%;
}

.right-label {
    margin-left: 5%;
}

.form-check {
    margin-left: 5%;
    margin-right: 5%;
}

#jcomp {
    width: 60%;
    margin: auto;
    margin-top: 10%;
}

#confirm {
    width: 20%;
}
